<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012002345255-ms6mbc17me3ies8v3u4o4fp5hfu1ph3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012002345255-ms6mbc17me3ies8v3u4o4fp5hfu1ph3p</string>
	<key>API_KEY</key>
	<string>AIzaSyDw3sY6LkZpfx_t4p35_HK-pYNEah323tY</string>
	<key>GCM_SENDER_ID</key>
	<string>1012002345255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>firebase.swiftUI.halder.manajit.FirebaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-6b546</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-6b546.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012002345255:ios:88ab3bb0d390839cae5902</string>
</dict>
</plist>